<header>
	<div id="header" class="center">
		<h1><a href="<%= path %>/">G-ROCK</a></h1>
	</div>
</header>
<nav class="center">
	<div class="nav-inner">
		<a href="<%= path %>/posts.html">Posts</a>
		<a href="<%= path %>/bands.html">Bands</a>
		<a href="<%= path %>/discs.html">Discs</a>
		<a href="<%= path %>/labels.html">Labels</a>
  </div>
	<div class="clear"></div>
</nav>
