<a class="block band" href="<%= link("band/#{band.code}.html") %>">
  <div class="image" data-image="<%= band.image %>">
    <img>
  </div>
  <div class="desc"><%= label %></div>
  <div class="desc" style="font-size:1.2em;"><%= band.name %></div>
  <div class="desc"><%= band.description %></div>
</a>
