<%
  text = "(#{disc.description})" unless (disc.description.nil? || disc.description.empty?)
  text = disc.date unless (disc.date.nil? || disc.date.empty?)
%>
<a class="block disc" href="<%= link("disc/#{disc.code}.html") %>">
  <div class="image" data-image="<%= disc.image %>">
    <img>
  </div>
  <div class="desc"><%= disc.name %></div>
  <div class="desc"><%= disc.band_name %></div>
  <div class="desc"><%= text %></div>
</a>
