<div class="info">
	<% if band.link(:site) %>
		<a href="<%= band.link(:site) %>" target="_blank"><i class="fa fa-home"></i></a>
	<% else %>
		<span><i class="fa fa-home"></i></span>
  <% end %>
	<% if band.link(:wiki) %>
		<a class="socicon" href="<%= band.link(:wiki) %>" target="_blank">N</a>
	<% else %>
		<span class="socicon">N</span>
	<% end %>
	<% if band.link(:facebook) %>
		<a class="socicon" href="<%= band.link(:facebook) %>" target="_blank">b</a>
	<% else %>
		<span class="socicon">b</span>
	<% end %>
	<% if band.link(:twitter) %>
		<a class="socicon" href="<%= band.link(:twitter) %>" target="_blank">a</a>
	<% else %>
		<span class="socicon">a</span>
	<% end %>
	<% if band.link(:youtube) %>
		<a class="socicon" href="<%= band.link(:youtube) %>" target="_blank">r</a>
	<% else %>
		<span class="socicon">r</span>
	<% end %>
	<% if band.link(:soundcloud) %>
		<a class="socicon" href="<%= band.link(:soundcloud) %>" target="_blank">n</a>
	<% else %>
		<span class="socicon">n</span>
	<% end %>
	<% if band.link(:myspace) %>
		<a class="socicon" href="<%= band.link(:myspace) %>" target="_blank">m</a>
	<% else %>
		<span class="socicon">m</span>
	<% end %>
	<% if band.link(:purevolume) %>
		<a href="<%= band.link(:purevolume) %>" target="_blank" class="no-line">p</a>
	<% else %>
		<span>p</span>
	<% end %>
	<% if band.link(:lastfm) %>
		<a class="socicon" href="<%= band.link(:lastfm) %>" target="_blank">q</a>
	<% else %>
		<span class="socicon">q</span>
	<% end %>
	<% if band.link(:tumblr) %>
		<a class="socicon" href="<%= band.link(:tumblr) %>" target="_blank">z</a>
	<% else %>
		<span class="socicon">z</span>
	<% end %>
	<% if band.link(:absolutepunk) %>
		<a class="small-icon" href="<%= band.link(:absolutepunk) %>" target="_blank" class="no-line">ap</a>
	<% else %>
		<span class="small-icon">ap</span>
	<% end %>
	<% if band.link(:altpress) %>
		<a class="small-icon" href="<%= band.link(:altpress) %>" target="_blank" class="no-line">alt</a>
	<% else %>
		<span class="small-icon">alt</span>
	<% end %>
	<% if band.link(:underthegun) %>
		<a class="small-icon" href="<%= band.link(:underthegun) %>" target="_blank" class="no-line">utg</a>
	<% else %>
		<span class="small-icon">utg</span>
	<% end %>
	<% if band.link(:lyrics) %>
		<a href="<%= band.link(:lyrics) %>" target="_blank"><i class="fa fa-file-text-o"></i></a>
	<% else %>
		<span><i class="fa fa-file-text-o"></i></span>
  <% end %>
	<% if band.link(:itunes) %>
		<a class="socicon" href="<%= band.link(:itunes) %>" target="_blank">O</a>
	<% else %>
		<span class="socicon">O</span>
	<% end %>
</div>
