<div class="discs">
  <% disc_list.each do |disc| %>
		<div class="disc"
        data-grock-band="<%= disc.band_names %>"
        data-grock-title="<%= disc[:title] %>"
        data-grock-label="<%= disc[:date] %> <%= disc.label_name %>"
        data-grock-img="<%= disc.image_url %>"
        data-grock-listen="<%= disc.listen_url %>"
        data-grock-itunes="<%= disc.itunes_link %>"
        data-grock-amazon="<%= disc.amazon_link %>"
        data-grock-free="<%= disc.free_download %>">
	    <div class="desc">
	    	<div><%= disc[:title] %></div>
	    	<div><%= disc[:band_names] %></div>
	    	<div><%= disc[:date] %> <%= disc.label_nick %></div>
	    </div>
		</div>
  <% end %>
</div>
<div class="clear"></div>
