<div>
  <label>
    <span>link </span>
    <% labels = %w(amazon wikipedia) %>
    <select name="links[label][]">
      <option value="">----</option>
      <% labels.each do |label| %>
        <option value="<%= label %>" <%= "selected" if link.label == label %>><%= label %></option>
      <% end %>
    </select>
  </label>
  <label>
    <span> </span>
    <input name="links[url][]"   type="text" value="<%= link.url %>" /><br/>
  </label>
  <label>
    <span> </span>
    <input name="links[title][]" type="text" value="<%= link.title %>" /><br/>
  </label>
  <label>
    <span> </span>
    <% types = %w(stream parchase feed) %>
    <select name="links[type][]">
      <option value="">----</option>
      <% types.each do |type| %>
        <option value="<%= type %>" <%= "selected" if link.type == type %>><%= type %></option>
      <% end %>
    </select>
  </label>
</div>
