<% band = obj %>
<!DOCTYPE html>
<html lang="ja">
<head>
  <%= head band.name %>
</head>
<body>
  <%= header %>
  <div class="contents-wrapper">

    <%= main_video_block(band.videos.first) %>
    <%= main_image_block(band.images.first) if band.videos.empty? %>
    <h2><%= band.title %></h2>

    <div class="contents">
      <%= body_block(band) %>
      <%= sns_block(band) %>

      <%= info_block(band.country_origin, "origin") %>
      <%= info_block(band.active.full, "active") %>
      <%= info_block(band.all_genres.join(", "), "genre") %>

      <% %w(apple play spotify soundcloud bandcamp youtube website wikipedia twitter facebook instagram discogs purevolume myspace).each do |key| %>
        <%= link_block(band, key.to_sym) %>
      <% end %>
      <% band.links.each do |link| %>
        <%= link_block(link, "Link") %>
      <% end %>

      <% band.discs.each do |disc| %>
        <%= disc_block(disc) %>
      <% end %>

      <% band.songs.each do |song| %>
        <%= song_block(song) %>
      <% end %>
    </div>

    <div class="sub-contents">
      <%= feeds(band) %>
    </div>
  </div>
  <%= footer %>
</body>
</html>
