<% disc = obj %>
<!DOCTYPE html>
<html lang="ja">
<head>
  <%= head disc.name %>
</head>
<body>
  <%= header %>
  <div class="contents-wrapper">

    <%= main_video_block(disc.videos.first) %>
    <%= main_image_block(disc.images.first) if disc.videos.empty? %>
    <h2><%= disc.title %></h2>

    <div class="contents">
      <%= body_block(disc) %>
      <%= sns_block(disc) %>

      <% %w(apple play spotify amazon discogs youtube).each do |key| %>
        <%= link_block(disc, key.to_sym) %>
      <% end %>
      <% disc.links.each do |link| %>
        <%= link_block(link, "Link") %>
      <% end %>
      <%= link_block(disc.search_link, "Search") %>

    </div>

    <div class="sub-contents">
      <%= feeds(disc.band?) %>
    </div>
  </div>
  <%= footer %>
</body>
</html>
