<% label = obj %>
<!DOCTYPE html>
<html lang="ja">
<head>
  <%= head label.name %>
</head>
<body>
  <%= header %>
  <div class="contents-wrapper">

    <% #main_block(label) %>

    <%= main_video_block(label.videos.first)  %>



    <h2><%= label.name %></h2>

    <div class="contents">

    </div>

    <div class="sub-contents">
      <%= feeds(label) %>
    </div>
  </div>
  <%= footer %>
</body>
</html>
