<% members = obj %>
<!DOCTYPE html>
<html lang="ja">
<head>
  <%= head "Members" %>
</head>
<body>
  <%= header %>
  <div class="contents-wrapper">

    <table class="items">
      <thead>
        <tr class="hidden-on-mobile">
          <th class="name">
            <input type="text" class="search-name" placeholder="Name"></input>
            <a href="#" onclick="sort('name')"><i class="fas fa-sort"></i></a>
          </th>
          <th>
            <input type="text" class="search-country" placeholder="Country"></input>
            <a href="#" onclick="sort('country')"><i class="fas fa-sort"></i></a>
          </th>
          <th class="note">
            <input type="text" class="search-note" placeholder="Note"></input>
          </th>
        </tr>
      </thead>
      <tbody>
        <% members.each_with_index do |(code, member), i| %>
        <tr class="<%= "odd" unless i%2 == 0 %>">
          <td class="name"><a href="member/<%= member.code %>.html"><%= member.name %></a></td>
          <td>
            <span class="flag"><%= member.country.emoji %></span>
            <span class="hidden-on-mobile"><%= member.country.name %></span>
          </td>
          <td class="hidden-on-mobile"></td>
        </tr>
        <% end %>
      </tbody>
    </table>

  </div>
  <%= footer %>
<%= list_scripts members %>
</body>
</html>
