<% member = obj %>
<!DOCTYPE html>
<html lang="ja">
<head>
  <%= head member.name %>
</head>
<body>
  <%= header %>
  <div class="contents-wrapper">

    <%= main_video_block(member.videos.first) %>
    <%= main_image_block(member.images.first) if member.videos.empty? %>
    <h2><%= member.name %></h2>

    <div class="contents">

    </div>

    <div class="sub-contents">
      <%= feeds(member) %>
    </div>
  </div>
  <%= footer %>
</body>
</html>
