<% song = obj %>
<!DOCTYPE html>
<html lang="ja">
<head>
  <%= head song.name %>
</head>
<body>
  <%= header %>
  <div class="contents-wrapper">

    <%= main_video_block(song.youtube) %>
    <h2><%= song.title %></h2>

    <div class="contents">
      <%= body_block(song) %>
      <%= sub_video_block(song.original) %>
      <%= sns_block(song) %>

      <% song.guests.each do |guest| %>
        <%= band_block(song.guest(guest.code), guest.label) %>
      <% end %>

      <%= disc_block(song.disc?) %>

      <% %w(apple play spotify).each do |key| %>
        <%= link_block(song, key.to_sym) %>
      <% end %>
      <% song.links.each do |link| %>
        <%= link_block(link, "Link") %>
      <% end %>
    </div>

    <div class="sub-contents">
      <%= feeds(song.band?) %>
    </div>
  </div>
  <%= footer %>
</body>
</html>
