<% if admin? %>
<%= partial :"admin/common", {item: @item} %>

<div class="block admin">
  <%= partial :"admin/text_form", {item: @item, key: "code"} %>
  <%= partial :"admin/text_form", {item: @item, key: "name"} %>
  <%= partial :"admin/text_form", {item: @item, key: "description"} %>
  <%= partial :"admin/text_form", {item: @item, key: "images"} %>
  <%= partial :"admin/text_form", {item: @item, key: "videos"} %>
  <%= partial :"admin/select_form", {item: @item, key: "genres", list: Setting.genres.to_hash} %>
  <%
    bands = Hash[*Band.all_items.map {|x| [x.code, x.name]}.flatten]
  %>
  <%= partial :"admin/select_form", {item: @item, key: "bands", list: bands} %>
  <% Disc.site_keys.each do |site| %>
    <%= partial :"admin/link_form", {item: @item, site: site} %>
  <% end %>
  <%= partial :"admin/text_form", {item: @item, key: "links"} %>
  <%= partial :"admin/text_block", {item: @item, key: "created_at"} %>
  <%= partial :"admin/text_block", {item: @item, key: "updated_at"} %>
  <%= partial :"admin/body_form", {item: @item} %>
  <%= partial :"admin/submit", {item: @item} %>
</div>
<% end %>
