<% bands = obj %>
<html>
<head>
  <%= head("Bands | G-ROCK") %>
</head>
<body>
  <%= header %>
  <ul>
  <% bands.each do |code, band| %>
    <li><a href="band/<%= band.code %>.html"><%= band.name %></a></li>
  <% end %>
  </ul>
  <%= footer %>
</body>
</html>
