<% band = obj %>
<html>
<head>
  <%= head band.name %>
</head>
<body>
  <%= header %>
  <div class="contents-wrapper">

    <% if !band.main_youtube.nil? %>
      <%= main_youtube_block(band.main_youtube_key) %>
    <% elsif !band.images.nil? %>
      <%= main_image_block(band.images.first) %>
    <% end %>

    <h2>
      <%= band.name %>
      <%= " (#{band.active_short})" unless band.active.nil? %>
    </h2>

    <div class="contents">
      <%= body(band) %>

      <%= sns("band/#{obj.code}.html", obj.name, 1) %>

      <%= origin_block(obj) unless obj.country.nil?%>

      <% unless obj.active.nil?%>
        <div class="block active">
          <%= obj.active %>
        </div>
      <% end %>

      <% unless obj.genres.nil?%>
        <div class="block genre">
          <%= obj.all_genres %>
        </div>
      <% end %>

      <%= link_block("Apple Music", band.apple) unless band.apple.nil? %>
      <%= link_block("Play Music", band.play) unless band.play.nil? %>
      <%= link_block("Spotify", band.spotify) unless band.spotify.nil? %>
      <%= link_block("SoundCloud", band.soundcloud) unless band.soundcloud.nil? %>
      <%= link_block("Bandcamp", band.bandcamp) unless band.bandcamp.nil? %>
      <%= link_block("YouTube", band.youtube) unless band.youtube.nil? %>
      <%= link_block("Website", band.website) unless band.website.nil? %>
      <%= link_block("Wikipedia", band.wikipedia) unless band.wikipedia.nil? %>
      <%= link_block("Twitter", band.twitter) unless band.twitter.nil? %>
      <%= link_block("Facebook", band.facebook) unless band.facebook.nil? %>
      <%= link_block("Instagram", band.instagram) unless band.instagram.nil? %>
      <%= link_block("Discogs", band.discogs) unless band.discogs.nil? %>
      <% (band.links || []).map do |link| %>
        <%= link_block("Link", link) %>
      <% end %>

      <% (band.discs? || []).map do |disc| %>
        <%= disc_block(disc, layer) %>
      <% end %>

      <% (band.videos? || []).map do |song| %>
        <%= video_block(song, layer) %>
      <% end %>
    </div>

    <div class="sub-contents">
      xxxx
    </div>

  </div>
  <%= footer %>
</body>
</html>
