<% bands = obj %>
<html>
<head>
  <%= head("Bands | G-ROCK") %>
</head>
<body>
  <%= header %>
  <div class="contents">
    <table class="items">
      <thead>
        <tr class="hidden-on-mobile">
          <th>
            <input type="text" class="search-name" placeholder="Band Name"></input>
            <a href="#" onclick="sort('name')"><i class="fas fa-sort"></i></a>
          </th>
          <th>
            <input type="text" class="search-country" placeholder="Country"></input>
            <a href="#" onclick="sort('country')"><i class="fas fa-sort"></i></a>
          </th>
          <th>
            <input type="text" class="search-active" placeholder="Active"></input>
            <a href="#" onclick="sort('active')"><i class="fas fa-sort"></i></a>
          </th>
          <th>
            <input type="text" class="search-genre" placeholder="Genre"></input>
            <a href="#" onclick="sort('genre')"><i class="fas fa-sort"></i></a>
          </th>
          <th>
            <input type="text" class="search-note" placeholder="Note"></input>
          </th>
        </tr>
      </thead>
      <tbody>
        <% bands.each do |code, band| %>
        <tr>
          <td><a href="band/<%= band.code %>.html"><%= band.name %></a></td>
          <td>
            <a href="band/<%= band.code %>.html">
              <span class="flag"><%= band.country_emoji %></span>
              <span class="hidden-on-mobile"><%= band.country_name %></span>
            </a>
          </td>
          <td class="hidden-on-mobile"><%= band.active_short %></td>
          <td><a href="band/<%= band.code %>.html"><%= band.main_genre %></a></td>
          <td class="hidden-on-mobile"></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= footer %>
<script>
const originals = [
  <% bands.each do |code, band| %>
    <%= band.json %>,
  <% end %>
]
let displayed = null
const reversed = {}
</script>
</body>
</html>
