<% band = obj %>
<!DOCTYPE html>
<html>
<head>
  <%= head band.name %>
</head>
<body>
  <%= header %>
  <div class="contents-wrapper">

    <% if !band.main_youtube.nil? %>
      <%= main_youtube_block(band.main_youtube_key) %>
    <% elsif !band.images.nil? %>
      <%= main_image_block(band.images.first) %>
    <% end %>

    <h2>
      <%= band.name %>
      <%= " (#{band.active_short})" unless band.active.nil? %>
    </h2>

    <div class="contents">
      <%= body(band) %>

      <%= sns(band) %>

      <%= info_block(band.origin_full, "origin") unless band.country.nil?%>
      <%= info_block(band.active, "active") unless band.active.nil? %>
      <%= info_block(band.all_genres, "genre") unless band.genres.nil? %>

      <% %w(apple play spotify soundcloud bandcamp youtube website wikipedia twitter facebook instagram discogs).each do |key| %>
        <%= link_block(band, key) %>
      <% end %>
      <% (band.links || []).map do |link| %>
        <%= links_block(link) %>
      <% end %>

      <% band.discs?.each do |disc| %>
        <%= disc_block(disc) %>
      <% end %>

      <% band.videos?.each do |song| %>
        <%= video_block(song) %>
      <% end %>
    </div>

    <div class="sub-contents">
      <%= feeds(band) %>
    </div>

  </div>
  <%= footer %>
</body>
</html>
