<% discs = obj %>
<html>
<head>
  <%= head("Discs | G-ROCK") %>
</head>
<body>
  <%= header %>
  <div class="contents">
    <ul>
    <% discs.each do |code, disc| %>
      <li><a href="disc/<%= disc.code %>.html"><%= disc.code %></a></li>
    <% end %>
    </ul>
  </div>
  <%= footer %>
</body>
</html>
