<% disc = obj %>
<!DOCTYPE html>
<html>
<head>
  <%= head disc.name %>
</head>
<body>
  <%= header %>
  <div class="contents-wrapper">

    <% if !disc.main_youtube.nil? %>
      <%= main_youtube_block(disc.main_youtube_key) %>
    <% elsif !disc.images.nil? %>
      <%= main_image_block(disc.images.first) %>
    <% end %>

    <h2>
      <%= disc.name %>
      <%= " - #{disc.type_name}" unless (disc.type.nil? || disc.type == "album") %>
      <%= " (#{disc.date_year})" unless disc.date.nil? %>
    </h2>

    <div class="contents">
      <%= body(disc) %>

      <%= sns(disc) %>

      <%= disc_block(disc) %>

      <%= band_block(disc.band?) %>

      <% disc.guests?.each do |items|%>
        <% member, org = items %>
        <%= band_block(member, org["label"]) %>
      <% end %>

      <% %w(apple play spotify amazon discogs youtube).each do |key| %>
        <%= link_block(disc, key) %>
      <% end %>
      <% (disc.links || []).map do |link| %>
        <%= links_block(link) %>
      <% end %>
      <%= links_block(disc.search_link, "Search") %>
    </div>

    <div class="sub-contents">
      xxxx
    </div>

  </div>
  <%= footer %>
</body>
</html>
