<% label = obj %>
<html>
<head>
  <%= head label.name %>
</head>
<body>
  <%= header %>
  <div class="contents-wrapper">

    <% if !label.main_youtube.nil? %>
      <%= main_youtube_block(label.main_youtube_key) %>
    <% elsif !label.images.nil? %>
      <%= main_image_block(label.images.first) %>
    <% end %>

    <h2><%= label.name %></h2>

    <div class="contents">
      <%= body(label) %>

      <%= sns("label/#{label.code}.html", label.name, 1) %>
    </div>

    <div class="sub-contents">
      xxx
    </div>
  </div>
  <%= footer %>
</body>
</html>
