<% labels = obj %>
<html>
<head>
  <%= head("Labels | G-ROCK") %>
</head>
<body>
  <%= header %>
  <div class="contents">
    <ul>
    <% labels.each do |code, label| %>
      <li><a href="label/<%= label.code %>.html"><%= label.name %></a></li>
    <% end %>
    </ul>
  </div>
  <%= footer %>
</body>
</html>
