<% labels = obj %>
<html>
<head>
  <%= head "Labels" %>
</head>
<body>
  <%= header %>
  <div class="contents-wrapper">
    <table class="items">
      <thead>
        <tr class="hidden-on-mobile">
          <th class="name">
            <input type="text" class="search-name" placeholder="Label Name"></input>
            <a href="#" onclick="sort('name')"><i class="fas fa-sort"></i></a>
          </th>
          <th>
            <input type="text" class="search-note" placeholder="Note"></input>
          </th>
        </tr>
      </thead>
      <tbody>
        <% labels.each_with_index do |(code, label), i| %>
        <tr class="<%= "odd" unless i%2 == 0 %>">
          <td class="name"><a href="label/<%= label.code %>.html"><%= label.name %></a></td>
          <td class="hidden-on-mobile"></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= footer %>
<script>
<%= scripts(labels) %>
</script>
</body>
</html>
