<% label = obj %>
<html>
<head>
  <%= head(label.name + " | G-ROCK", 1) %>
</head>
<body>
  <%= header(1) %>
  <div class="contents-wrapper">

    <div class="main-image" style="background-image:url(<%= label.images.nil? ? '' : label.images.first %>);"></div>
    <h2>
      <%= label.name %>
    </h2>

    <div class="contents">
    </div>

    <div class="sub-contents">
    </div>
  </div>
  <%= footer(1) %>
</body>
</html>
