<% member = obj %>
<!DOCTYPE html>
<html>
<head>
  <%= head member.name %>
</head>
<body>
  <%= header %>
  <div class="contents-wrapper">

    <% if !member.main_youtube.nil? %>
      <%= main_youtube_block(member.main_youtube_key) %>
    <% elsif !member.images.nil? %>
      <%= main_image_block(member.images.first) %>
    <% end %>

    <h2>
      <%= member.name %>
      <%= " (#{member.description})" unless member.description.nil? %>
    </h2>

    <div class="contents">
      <%= body(member) %>

      <%= sns(member) %>

      <%= info_block(member, "origin_full", "origin") %>

      <% (member.links || []).each do |link| %>
        <%= links_block(link) %>
      <% end %>
    </div>

    <div class="sub-contents">
      xxxx
    </div>
  </div>
  <%= footer %>
</body>
</html>
