<% member = obj %>
<html>
<head>
  <%= head(member.name + " | G-ROCK", 1) %>
</head>
<body>
  <%= header %>
  <%= member.name %>
  <%= member.country_name %> <%= member.country_emoji %>
</body>
</html>
