<% member = obj %>
<html>
<head>
  <%= head member.name %>
</head>
<body>
  <%= header %>
  <div class="contents-wrapper">

    <% if !member.main_youtube.nil? %>
      <%= main_youtube_block(member.main_youtube_key) %>
    <% elsif !member.images.nil? %>
      <%= main_image_block(member.images.first) %>
    <% end %>

    <h2>
      <%= member.name %>
      <%= " (#{member.description})" unless member.description.nil? %>
    </h2>

    <div class="contents">
      <%= body(member.body, 1) %>

      <%= sns("member/#{member.code}.html", member.name, 1) %>

      <%= origin_block(member) unless member.country.nil?%>

      <% (member.links || []).map do |link| %>
        <%= link_block("Link", link) %>
      <% end %>
    </div>

    <div class="sub-contents">
      xxxx
    </div>
  </div>
  <%= footer %>
</body>
</html>
