<% member = obj %>
<html>
<head>
  <%= head(member.name + " | G-ROCK", 1) %>
</head>
<body>
  <%= header(1) %>
  <div class="contents-wrapper">

    <div class="main-image image" data-image="<%= member.images.nil? ? '' : member.images.first %>">
      <img src="">
    </div>
    <h2>
      <%= member.name %>
      <%= " (#{member.description})" unless member.description.nil? %>
    </h2>

    <div class="contents">
      <%= body(member.body, 1) %>

      <%= sns("member/#{member.code}.html", member.name, 1) %>

      <%= origin_block(member) unless member.country.nil?%>

      <% (member.links || []).map do |link| %>
        <%= link_block("Link", link) %>
      <% end %>
    </div>

    <div class="sub-contents">
      xxxx
    </div>
  </div>
  <%= footer(1) %>
</body>
</html>
