<% member = obj %>
<html>
<head>
  <%= head(member.name + " | G-ROCK", 1) %>
</head>
<body>
  <%= header(1) %>
  <div class="contents">
    <%= member.name %>
    <%= member.country_name %> <%= member.country_emoji %>
  </div>
  <%= footer(1) %>
</body>
</html>
