<% song = obj %>
<html>
<head>
  <%= head song.name %>
</head>
<body>
  <%= header %>
  <div class="contents-wrapper">


    <% if !song.youtube.nil? %>
      <%= main_youtube_block(song.youtube_key) %>
    <% elsif !song.images.nil? %>
      <%= main_image_block(song.images.first) %>
    <% end %>

    <h2>
      <%= song.title %>
    </h2>

    <div class="contents">
      <%= body(song.body, 1) %>

      <%= sns("song/#{song.code}.html", song.title, 1) %>

      <%= band_link(song.band?, "band/#{song.band?.code}", 1) %>

      <% song.guests?.each do |items|%>
        <% member, org = items %>
        <%= guest_link(org["label"], member, "member/#{member.code}", 1) %>
      <% end %>

      <%= link_block("Apple Music", song.apple) unless song.apple.nil? %>
      <%= link_block("Play Music", song.play) unless song.play.nil? %>
      <%= link_block("Spotify", song.spotify) unless song.spotify.nil? %>
      <% (song.links || []).map do |link| %>
        <%= link_block("Link", link) %>
      <% end %>
    </div>

    <div class="sub-contents">
      xxxx
    </div>

  </div>
  <%= footer %>
</body>
</html>
