<% song = obj %>
<html>
<head>
  <%= head song.name %>
</head>
<body>
  <%= header %>
  <div class="contents-wrapper">


    <% if !song.youtube.nil? %>
      <%= main_youtube_block(song.youtube_key) %>
    <% elsif !song.images.nil? %>
      <%= main_image_block(song.images.first) %>
    <% end %>

    <h2>
      <%= "(#{song.song_type_name}) " unless song.type.nil? %>
      <%= "#{song.band?.name} - " unless song.band?.nil? %>
      <%= song.name %>
      <%= "[#{song.video_date_year}]" unless song.video_date.nil? %>
    </h2>

    <div class="contents">
      <%= body(song) %>

      <%= sns(song) %>

      <%= band_block(song.band?) %>

      <% song.guests?.each do |items|%>
        <% member, org = items %>
        <%= band_block(member, org["label"]) %>
      <% end %>

      <% %w(apple play spotify).each do |key| %>
        <%= link_block(song, key) %>
      <% end %>
      <% (song.links || []).each do |link| %>
        <%= links_block(link) %>
      <% end %>
    </div>

    <div class="sub-contents">
      xxxx
    </div>

  </div>
  <%= footer %>
</body>
</html>
