<% song = obj %>
<html>
<head>
  <%= head(song.name + " | G-ROCK", 1) %>
</head>
<body>
  <%= header(1) %>
  <div class="contents">
    <div id="player" data-key="<%= song.youtube_key%>"></div>
    <h2><%= song.title %></h2>

    <section><%= song.body %></section>

    <%= sns("song/#{song.code}.html", song.title, 1) %>

    <div>
      
    </div>
  </div>
  <%= footer(1) %>
</body>
</html>
