<% songs = obj %>
<html>
<head>
  <%= head("Songs | G-ROCK") %>
</head>
<body>
  <%= header %>
  <ul>
  <% songs.each do |code, song| %>
    <li>
      <a href="song/<%= song.code %>.html">
        <%= song.name %>
      </a>
    </li>
  <% end %>
  </ul>
  <%= footer %>
</body>
</html>
