<%= partial :main, {item: @item} %>

<div class="contents">
  <!-- contents -->
  <h2><%= @item.title %></h2>

  <div class="main-contents">
    <%= partial :body, {item: @item} %>
    <%= partial :sns, {item: @item} %>

    <%= partial :band, {item: @item, text: ["", @item.name], class_names: ""} %>

    <%= partial :text, {text: @item.active, class_names: "active"} %>
    <%= partial :text, {text: @item.origin_full, class_names: "origin"} %>

    <% Band.site_keys.each do |site| %>
      <%= partial :site, {site: site, link_value: @item.send(site)} %>
    <% end %>
    <% @item.link_list.each do |site| %>
      <%= partial :site, {site: "link", link_value: site} %>
    <% end %>

    <%= partial :"admin/band" %>
  </div>

  <div class="sub-contents">
    <%= partial :feeds, {item: @item} %>
  </div>
  <!-- contents -->
</div>
