<%= partial :main, {item: @item} %>

<div class="contents">
  <!-- contents -->
  <h2><%= @item.title %></h2>

  <div class="main-contents">
    <%= partial :body, {item: @item} %>
    <%= partial :sns, {path: @item.html_path, sns_title: @item.title} %>

    <%= partial :band, {item: @item, text: ["", @item.name], class_names: ""} %>

    <%= partial :text, {text: @item.active, class_names: "active"} %>
    <%= partial :text, {text: @item.origin_full, class_names: "origin"} %>

    <% Band.site_keys.each do |site| %>
      <%= partial :site, {site: site, link_value: @item.send(site)} %>
    <% end %>
    <% @item.link_list.each do |site| %>
      <%= partial :site, {site: "link", link_value: site} %>
    <% end %>

    <% Disc.where("discs_of LIKE ?", "%#{@item.code}%").each do |disc| %>
      <%= partial :disc, {item: disc, text: [disc.name, disc.main_band.name, disc.date_text], class_names: ""} %>
    <% end unless @item.code.nil? %>

    <% (@item.member_of || "").split(",").each do |band_code| %>
      <% band = Band.find_by(code: band_code) %>
      <%= partial :band, {item: band, text: ["Member of", band.name], class_names: ""} %>
    <% end %>

    <% (@item.ex_member_of || "").split(",").each do |band_code| %>
      <% band = Band.find_by(code: band_code) %>
      <%= partial :band, {item: band, text: ["Ex Member of", band.name], class_names: ""} %>
    <% end %>

    <% Band.where("member_of LIKE ?", "%#{@item.code}%").each do |band| %>
      <%= partial :band, {item: band, text: ["Member", band.name], class_names: ""} %>
    <% end unless @item.code.nil? %>

    <% Band.where("ex_member_of LIKE ?", "%#{@item.code}%").each do |band| %>
      <%= partial :band, {item: band, text: ["Ex Member", band.name], class_names: ""} %>
    <% end unless @item.code.nil? %>

    <%= partial :releases, {code: @item.code} unless @item.code.nil? %>


    <%= partial :"admin/band" %>
  </div>

  <div class="sub-contents">
    <%= partial :feeds, {item: @item} %>
  </div>
  <!-- contents -->
</div>
