<!DOCTYPE html>
<html lang="ja">
<head>
  <%= partial :head, locals: {title: @item.name} %>
</head>
<body>
  <%= partial :header %>

  <div class="contents-wrapper">
    <%= partial :main %>

    <div class="contents">
      <%= partial :body %>

      <% (@item.original_videos || "").split(",").each do |url| %>
        <%= partial :video_block, locals: {url: url} %>
      <% end %>

      <%= partial :sns %>

      <%= partial :disc_block, locals: {disc: @item} %>
      <% all_items(Band, @item.bands).each do |band| %>
        <%= partial :band_block, locals: {band: band, label: ""} %>
      <% end %>

      <% all_items(Band, @item.guests).each_with_index do |band, i| %>
        <% match = @item.guests.split(",")[i].match(/\((.*)\)$/) || [] %>
        <%= partial :band_block, locals: {band: band, label: match[1]} %>
      <% end %>

      <% disc_sites.each do |site| %>
        <%= partial :site_block, locals: {site: site, link_text: @item.send(site)} %>
      <% end %>
      <% @item.all_links.each do |site| %>
        <%= partial :site_block, locals: {site: "link", link_text: site} %>
      <% end %>

      <%= partial :admin_disc %>

      <% all_items(Disc, @item.discs).each do |disc| %>
        <%= partial :disc_block, locals: {disc: disc} %>
      <% end %>
    </div>

    <div class="sub-contents">
      <%= partial :feeds %>
    </div>
  </div>

  <%= partial :footer %>
</body>
</html>
