<!DOCTYPE html>
<html lang="ja">
<head>
  <%= partial :head, locals: {title: "Labels"} %>
</head>
<body>
  <%= partial :header %>

  <div class="contents-wrapper">
    <% if admin? %>
      <div class="admin" style="margin:16px;">
        <a href="./label/new">[Create New Label]</a>
      </div>
    <% end %>
    <table id="items">
      <thead class="hidden-on-mobile">
        <tr>
          <th>
            <input id="search-name" type="text" placeholder="Label Name"></input>
            <a onclick="sort('name')"><i class="fas fa-sort"></i></a>
          </th>
        </tr>
      </thead>
      <tbody>
        <% @items.each_with_index do |item, i| %>
          <tr>
            <td><a href="<%= link("label/#{item.code}.html") %>"><%= item.name %></a></td>
          </tr>
        <% end %>
      </tbody>
      <template id="item-row">
          <tr style="display:none;">
          </tr>
      </template>
    </table>
  </dev>

  <%= partial :footer %>
</body>
</html>
