<navi>
  <ul>
    <li><a href="/">HOME</a></li>
    <li><a href="<%= rel %>/posts">posts</a></li>
    <li><a href="<%= rel %>/bands">bands</a></li>
    <li><a href="<%= rel %>/discs">discs</a></li>
    <li><a href="<%= rel %>/videos">videos</a></li>
    <li><a href="<%= rel %>/labels">labels</a></li>
  </ul>
</navi>
