<!-- id ukey title bands date label image amazon itunes stream teaser free recommend -->
<%= erb :_html_head, :locals => {:rel => '..', :dev => dev}  %>
<body class="label">
  <%= erb :_header, :locals => {:rel => '..'} %>
  <form action="/api/labels" method="put">
    <div>
      <label>id</label>
      <%= item[:id] %> <button>edit</button>
      <input type="hidden" name="id" value="<%= item[:id] %>"></input>
    </div>
    <div>
      <label>ukey</label>
      <input type="text" name="ukey" value="<%= item[:ukey] %>"></input>
    </div>
    <div>
      <label>title</label>
      <input type="text" name="title" value="<%= item[:title] %>"></input>
    </div>
    <div>
      <label>bands</label>
      <input type="text" name="bands" value="<%= item[:bands] %>"></input>
    </div>
    <div>
      <label>date</label>
      <input type="text" name="date" value="<%= item[:date] %>"></input>
    </div>
    <div>
      <label>label</label>
      <input type="text" name="label" value="<%= item[:label] %>"></input>
    </div>
    <div>
      <label>image</label>
      <input type="text" name="image" value="<%= item[:image] %>"></input>
    </div>
    <div>
      <label>amazon</label>
      <input type="text" name="amazon" value="<%= item[:amazon] %>"></input>
    </div>
    <div id="amazon-result" class="search-result"></div>
    <div>
      <label>itunes</label>
      <input type="text" name="itunes" value="<%= item[:itunes] %>"></input>
    </div>
    <div id="itunes-result" class="search-result"></div>
    <div>
      <label>stream</label>
      <input type="text" name="stream" value="<%= item[:stream] %>"></input>
    </div>
    <div>
      <label>teaser</label>
      <input type="text" name="teaser" value="<%= item[:teaser] %>"></input>
    </div>
    <div>
      <label>free</label>
      <input type="text" name="free" value="<%= item[:free] %>"></input>
    </div>
    <div>
      <label>recommend</label>
      <input type="text" name="recommend" value="<%= item[:recommend] %>"></input>
    </div>
  </form>
<script>
$('form').submit(function(event) {
  event.preventDefault();
  var $form = $(this);
  $.ajax({
    url: $form.attr('action'),
    method: $form.attr('method'),
    data: $form.serialize(),
    dataType: "json"
  }).done(function(result) {
    alert('updated');
  }).fail(function(error) {
    console.log(error);
    alert('error occurred');
  });
});

$(function(){
  ['amazon','itunes'].forEach(function(name){
    if (! $("input[name="+name+"]").val()) {
      googleSearch(name+"-result", $("input[name=title]").val() + " " + $("input[name=bands]").val() + " " + name);
    }
  });
});

function googleSearch(id, word) {
  $.ajax({
    url: "../ajax/google/"+word,
    method: 'get',
    data: '',
    dataType: "json"
  }).done(function(result) {
    console.log(result);
    result.items.forEach(function(item){
      $("#"+id).append("<div>"+item.htmlTitle+" | <a href='"+item.link+"' target='_blank'>"+item.link.substring(0, 40)+"...</a></div>");
    });
  }).fail(function(error) {
    console.log(error);
    alert('error occurred');
  });
}
</script>
</body>
</html>
