<%= partial :html_head %>

<body>
<%= partial :header %>

<div class="block center">
  <h2 class="headline">Discs</h2>
  <%= partial :disc_list, {:disc_list => discs} %>
</div>

<%= partial :modal %>
<%= partial :footer %>
</body>
</html>
	
