<header class="toolbar toolbar-header">
  <h1 class="title"><%= name %></h1>

  <div class="toolbar-actions">
    <%= erb :_menu %>
    <button class="btn btn-default">
      <span class="icon icon-search icon-text"></span>filter
    </button>
    <button class="btn btn-default">
      <a href="/detail/<%= name %>/0"><span class="icon icon-plus-circled icon-text"></span>add</a>
    </button>
  </div>
</header>

<div class="window-content">
  <div class="pane-group">
    <div class="pane">
      <table class="table-striped">
        <tr>
          <% columns[1..-1].each do |col| %>
            <th><%= col %></th>
          <% end %>
        </tr>
      <% items.reverse.each do |item| %>
        <tr>
          <% columns.each do |col| %>
            <% if %(id).include? col %>
              <% #nothing %>
            <% elsif %(key).include? col %>
              <td class="<%= col %>"><a href="/<%= ['detail', name, item.id].join('/') %>"><%= item.key %></a></td>
            <% elsif %(site youtube wiki facebook twitter youtube myspace purevolume lastfm instagram tumblr absolutepunk altpress underthegun lyrics itunes).include? col %>
              <td class="<%= col %>"><%= link(item.send(col), col, true) %></td>
            <% else %>
              <td class="<%= col %>"><%= item.send(col) %></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
      </table>
    </div>
  </div>
</div>
